@font-face {
    font-family: Alexandria;
    src: url("AlexandriaFLF.ttf") format("opentype");
}
@font-face {
    font-family: Raleway;
    src: url("Raleway-Regular.ttf") format("opentype");
}
@font-face {
    font-family: Frente;
    src: url("FrenteH1-Regular.otf") format("opentype");
}
#map-canvas {
    float: left;
    height: 126px;
    width: 126px;
    margin: 4px;
    padding: 2px;
    background-color: rgba(34, 34, 34, 0.6);
    /* For IE 5.5 - 7*/
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    /* For IE 8*/
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    z-index: 10;
    -moz-box-shadow: 0px 0px 7px #000000;
    -webkit-box-shadow: 0px 0px 7px #000000;
    box-shadow: 0px 0px 7px #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 16px;
}
#header {
    background-color: #383838;
    border: 1px solid #2a415c;
    -moz-box-shadow: 0px 0px 1px #000000;
    -webkit-box-shadow: 0px 0px 1px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    opacity: 0.93;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=73);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity=73);
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.scroller {
    display: block;
    height: 100%;
    width: 100%;
    margin-top: 120px;
    font-family: Railway;
    font-size: 18px;
}
#header-at {
    font-family: Railway;
    font-size: 18px;
    float: left;
    color: #0a0e2c;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    margin-right: 10px;
}
#location {
    margin-top: 5px;
    color: #8baebe;
    font-family: Alexandria;
    font-size: 16px;
    color: rgba(244, 244, 244, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
#chhandle {
    color: #8baebe;
    font-family: Alexandria;
    font-size: 17px;
    height: 20px;
    width: 100px;
    color: rgba(244, 244, 244, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    border: none;
    background: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 28px;
}
#chhandle:hover {
    font-weight: bold;
}
a {
    text-decoration: none;
    display: inline-block;
}
a:hover {
    font-weight: bold;
}
.feedmsg {
    padding: 10px;
}
.publisher {
    font-family: Alexandria;
    font-size: 20px;
    padding-top: 0px;
}
.timestamp {
    font-family: Raleway;
    font-size: 8px;
    float: right;
}
.msg {
    font-family: Raleway;
    padding-top: 5px;
    font-size: 16px;
    padding-left: 100px;
}
.metadata {
    float: left;
}
.feedsep {
    margin: 30px 0px;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}
.entry {
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 60%;
    height: 15px;
    position: static;
    cursor: default;
    opacity: 1;
    margin-top: 10px;
    padding: 6px 10px;
    overflow: visible;
    border: none;
    font: normal 18px/normal"Coda", Helvetica, sans-serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(252, 252, 252, 1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
.entry:hover {
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 60%;
    height: 15px;
    position: static;
    cursor: default;
    opacity: 1;
    margin-top: 10px;
    padding: 6px 10px;
    overflow: visible;
    border: none;
    font: normal 18px/normal"Coda", Helvetica, sans-serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(232, 249, 255, 1);
    -webkit-box-shadow: 0 2px 2px 0 rgba(90, 90, 90, 0.2) inset;
    box-shadow: 0 2px 2px 0 rgba(90, 90, 90, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
.entry:focus {
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 60%;
    height: 15px;
    position: static;
    cursor: default;
    opacity: 1;
    margin-top: 10px;
    padding: 6px 10px;
    overflow: visible;
    border: none;
    font: normal 18px/normal"Coda", Helvetica, sans-serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(255, 253, 232, 1);
    -webkit-box-shadow: 0 2px 2px 0 rgba(90, 90, 90, 0.2) inset;
    box-shadow: 0 2px 2px 0 rgba(90, 90, 90, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
.submitbtn {
    font-family: Raleway;
    display: block;
    position: absolute;
    top: 91px;
    width: 100%;
    height: 35px;
    margin: 0;
    left: -1;
    z-index: 100;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 0 5px 5px 0;
    font-size: 12px;
    line-height: 35px;
    letter-spacing: 2px;
    border: 2px solid #111;
    background: #111;
    color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.15)), color-stop(1, rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.01));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.01));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.01));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.01));
    -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4) inset, -1px -1px 0 rgba(255, 255, 255, 0.4) inset, 1px 0 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4) inset, -1px -1px 0 rgba(255, 255, 255, 0.4) inset, 1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4) inset, -1px -1px 0 rgba(255, 255, 255, 0.4) inset, 1px 0 0 rgba(0, 0, 0, .1);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.submitbtn:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    opacity: .7;
    background-color: #666;
    border-color: #666;
    opacity: 1;
}
#feedtemplate {
    display: none;
}
.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    width: 64px;
    height: 65px;
}
#feed {
    min-width: 280px;
    margin-left: -5px;
}
.error {
    font-family: Frente;
    text-align: center;
    font-size: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    color: #767676;
}
#logo {
    float: right;
    font-family: Frente;
    font-size: 22px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 500;
    margin-right: -25px;
}
#logo img {
    display: inline-block;
    width: 40%;
    height: 40%;
}
#emptyfeedtemplate {
    display: none;
}
#emptyfeed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    width: 64px;
    height: 65px;
}
.emptyhere {
    font-family: Frente;
    text-align: center;
    font-size: 32px;
}
.imgpost {
    width: 192px;
    height: 192px;
}
/* popup */

.popBox-holder {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 900;
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: 0.5;
}
.popBox-container {
    display: none;
    background-color: #767676;
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    z-index: 9999;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 0px 25px rgba(0, 0, 0, .9);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    border: 2px solid rgb(000, 0, 0);
    border: 2px solid rgba(000, 0, 0, .9);
    position: fixed;
    width: 55%;
    height: 100px;
}
.popBox-container .done-button {
    margin-top: 10px;
    font-family: Railway;
    font-size: 28px;
}
.popBox-container .button {
    display: inline-block;
    zoom: 1;
    /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    width: 50%;
    height: 40px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.popBox-container .button:hover {
    text-decoration: none;
}
.popBox-container .button:active {
    position: relative;
    top: 1px;
}
.popBox-container .small {
    font-size: 11px;
    padding: .2em 1em .275em;
}
.popBox-container .blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.popBox-container .blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.popBox-container .blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top, #0078a5, #00adee);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
.popBox-input {
    display: inline;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    height: 12px;
    max-width: 90%;
    position: static;
    cursor: default;
    opacity: 1;
    margin-top: 5px;
    padding: 6px 10px;
    overflow: visible;
    border: none;
    font: normal 18px/normal"Coda", Helvetica, sans-serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(252, 252, 252, 1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
/* end popup */